{namespace bookmarks=Tx_SpSocialbookmarks_ViewHelpers}

<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft"></div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<!-- Pages -->
					<f:be.menus.actionMenu>
						<bookmarks:be.actionMenuItem label="{f:translate(key:'mode_all')}" controller="Chart" action="show" arguments="{mode:'all'}" parameter="mode" />
						<bookmarks:be.actionMenuItem label="{f:translate(key:'mode_this')}" controller="Chart" action="show" arguments="{mode:'this'}" parameter="mode" />
					</f:be.menus.actionMenu>
					<!-- Period -->
					<f:be.menus.actionMenu>
						<bookmarks:be.actionMenuItem label="{f:translate(key:'period_all')}" controller="Chart" action="show" arguments="{period:'all'}" parameter="period" />
						<bookmarks:be.actionMenuItem label="{f:translate(key:'period_year')}" controller="Chart" action="show" arguments="{period:'year'}" parameter="period" />
						<bookmarks:be.actionMenuItem label="{f:translate(key:'period_month')}" controller="Chart" action="show" arguments="{period:'month'}" parameter="period" />
						<bookmarks:be.actionMenuItem label="{f:translate(key:'period_week')}" controller="Chart" action="show" arguments="{period:'week'}" parameter="period" />
						<bookmarks:be.actionMenuItem label="{f:translate(key:'period_day')}" controller="Chart" action="show" arguments="{period:'day'}" parameter="period" />
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right"></div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:renderFlashMessages class="tx-extbase-flash-message" />
				<f:render section="main" />
			</div>
		</div>
	</div>
</f:be.container>
