{namespace bookmarks=Tx_SpSocialbookmarks_ViewHelpers}

<f:layout name="Backend" />

<f:section name="main">

	<h2>Social Bookmarks Click Stats</h2>
	<div style="padding-top: 5px;"></div>

	<h3 class="uppercase"><bookmarks:spriteIcon name="spsocialbookmarks-service" />&nbsp;Services</h3>
	<bookmarks:chart type="pie">{services}</bookmarks:chart>

	<div style="padding-top: 20px;"></div>
	<h3 class="uppercase"><bookmarks:spriteIcon name="spsocialbookmarks-browser" />&nbsp;Browsers</h3>
	<bookmarks:chart type="bar">{browsers}</bookmarks:chart>

	<div style="padding-top: 20px;"></div>
	<h3 class="uppercase"><bookmarks:spriteIcon name="spsocialbookmarks-system" />&nbsp;Systems</h3>
	<bookmarks:chart type="bar">{systems}</bookmarks:chart>

</f:section>