{namespace bookmarks=Tx_SpSocialbookmarks_ViewHelpers}

<f:layout name="Backend" />

<f:section name="main">

	<h3>Services</h3>
	<div id="socialbookmarks-services">
		<bookmarks:chart x="name" y="count" xLabel="Service" yLabel="Clicks" showLegend="1">{services}</bookmarks:chart>
	</div>

	<h3>Browsers</h3>
	<div id="socialbookmarks-browsers">
		<bookmarks:chart x="name" y="count" xLabel="Browser" yLabel="Clicks" showLegend="1">{browsers}</bookmarks:chart>
	</div>

	<h3>Systems</h3>
	<div id="socialbookmarks-systems">
		<bookmarks:chart x="name" y="count" xLabel="System" yLabel="Clicks" showLegend="1">{systems}</bookmarks:chart>
	</div>

</f:section>