{namespace bookmarks=Tx_SpSocialbookmarks_ViewHelpers}

<f:layout name="Backend" />

<f:section name="main">

	<!-- Services -->
	<f:if condition="{displayCharts}">
		<f:then>
			<h3 class="uppercase"><bookmarks:spriteIcon name="spsocialbookmarks-service" />&nbsp;<f:translate key="title_services" /></h3>
			<bookmarks:chart type="column" configuration="{settings}">{services}</bookmarks:chart>
			<br class="clear" />
		</f:then>
		<f:else>
			<f:render partial="Table" arguments="{data:services.0, title:'title_services', icon:'service'}" />
		</f:else>
	</f:if>

	<!-- Browsers -->
	<f:if condition="{displayCharts}">
		<f:then>
			<div style="padding-top: 20px;"></div>
			<h3 class="uppercase"><bookmarks:spriteIcon name="spsocialbookmarks-browser" />&nbsp;<f:translate key="title_browsers" /></h3>
			<bookmarks:chart type="donut" configuration="{settings}">{browsers}</bookmarks:chart>
			<br class="clear" />
		</f:then>
		<f:else>
			<f:render partial="Table" arguments="{data:browsers.0, title:'title_browsers', icon:'browser'}" />
		</f:else>
	</f:if>

	<!-- Systems -->
	<f:if condition="{displayCharts}">
		<f:then>
			<div style="padding-top: 20px;"></div>
			<h3 class="uppercase"><bookmarks:spriteIcon name="spsocialbookmarks-system" />&nbsp;<f:translate key="title_systems" /></h3>
			<bookmarks:chart type="donut" configuration="{settings}">{systems}</bookmarks:chart>
			<br class="clear" />
		</f:then>
		<f:else>
			<f:render partial="Table" arguments="{data:systems.0, title:'title_systems', icon:'system'}" />
		</f:else>
	</f:if>

</f:section>