/**
 * General setup
 */
br.clear {
	clear: both;
	float: none;
	height: 0px;
	line-height: 0px;
	padding: 0;
	margin: 0;
	border: none;
}


/**
 * Chart setup
 */
div.spsocialbookmarks-chart {
	width: 100%;
}

div.spsocialbookmarks-chart div.jqplot-highlighter-tooltip {
	background: #FFFFFF;
	color: #515151;
	padding: 0 5px;
	font-size: 11px;
	border: 1px solid #69A550;
	-webkit-box-shadow: 2px 2px 3px rgba(120,120,120,0.5);
	-moz-box-shadow: 2px 2px 3px rgba(120,120,120,0.5);
	box-shadow: 2px 2px 3px rgba(120,120,120,0.5);
}


/**
 * Bar chart
 */
div.spsocialbookmarks-chart-bar {
	height: 440px;
}


/**
 * Column chart
 */
div.spsocialbookmarks-chart-column {
	height: 220px;
}


/**
 * Pie chart
 */
div.spsocialbookmarks-chart-pie {
	height: 280px;
	width: 30%;
	float: left;
}


/**
 * Donut chart
 */
div.spsocialbookmarks-chart-donut {
	height: 280px;
	width: 30%;
	float: left;
}