/**
 * Bar chart
 */
div.spsocialbookmarks-chart .jqplot-point-label {
	background: white;
	color: #515151;
	padding: 0 5px;
	font-size: 11px;
	border: 1px solid #8C8C8C;
	font-weight: bold;
	-webkit-box-shadow: 2px 2px 3px rgba(120,120,120,0.5);
	-moz-box-shadow: 2px 2px 3px rgba(120,120,120,0.5);
	box-shadow: 2px 2px 3px rgba(120,120,120,0.5);
}