<!-- ###TEMPLATE### begin -->
<div id="sp_socialbookmarks_link_bar">###SERVICES###</div>
<!-- ###TEMPLATE### end -->


<!-- ###IMAGE### begin -->
<img src="###IMAGE_URL###" height="###IMAGE_HEIGHT###" width="###IMAGE_WIDTH###" alt="###IMAGE_ALT###" title="###IMAGE_TITLE###" />
<!-- ###IMAGE### end -->


<!-- ###SERVICE### begin -->
<a href="###LINK_URL###" target="###LINK_TARGET###" title="###LINK_TITLE###" id="###LINK_ID###" onclick="###LINK_JS###" rel="nofollow" >###IMAGE###</a>
<!-- ###SERVICE### end -->